fastapi>=0.111.0
uvicorn[standard]>=0.30.1
pydantic>=2.7.4
pydantic-settings>=2.3.4
SQLAlchemy>=2.0.31
psycopg[binary]>=3.1.10
celery[redis]>=5.4.0
openai>=1.35.3
sgfmill>=1.1.1
boto3>=1.34.135
python-multipart>=0.0.9
requests
PyJWT>=2.8.0
